* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (max-width: 70) {
  html {
    font-size: 50%;
  }
}

#welcome-section > h1{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  justify-content: center;
  background: #002db3;
}

#projects{
  padding: 55px;
  text-align: center;
  background: #ff9933;
}

.project-tile{
  font-size: 1.8rem;
  font-weight: 400;
}

#contact-info{
  height: 80vh;
  text-align: center;
  background: lightgreen;
}

nav{
  position: fixed;
  width: 100%;
}

nav > ul {
  text-align: right;
  background-color: #e0ebe8;
  margin-top:0px;
}

nav > ul > li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
}

nav > ul > li > a {
  color: #008080;
  text-decoration: none;
}

.left-side{
  display: inline-block;
  margin-right: 10px;
  width: 25%;
  background-color: red;
  padding: 5px;
  margin-top:10px;
  vertical-align: top;
}

.right-side{
  display:inline-block;
  width: 25%;
}

nav ul li a:hover {
  color: black;
}